@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

/* GLOBAL STYLES */

.goph-tree-view thead th {
    text-align: center !important;
    font-size: 16px;
}

.goph-tree-view tbody td {
    text-align: left !important;
    font-size: 16px;
    border-left: solid 1px #BDD5CA !important;
}

.goph-tree-view tr:nth-of-type(odd) {
    background-color: #E6EFEB !important;
}

.goph-tree-view tr th {
    border-bottom: solid 2px #BDD5CA !important;
    border-left: solid 1px #BDD5CA !important;
}

.goph-form-view thead>tr>th {
    text-align: left !important;
}

.goph-tree-view .o_group_header {
    background-color: #D2D2FF !important;
}

/* Elements with font as Open Sans, font-size 16px */

.goph-tree-view thead th,
.goph-tree-view tbody td,
.goph-tree-view .o_group_name,
.goph-form-view input,
.goph-form-view textarea,
.goph-form-view select,
.goph-form-view .o_td_label,
.goph-form-view td span,
.goph-form-view td a,
.goph-form-view .o_form_view .o_group .o_td_label .o_form_label,
.goph-form-view .o_form_view .o_group .o_field_widget,
.goph-form-view tfoot .o_list_number,
.goph-form-view .o_form_label {
    font-family: Lato, sans-serif !important;
    font-size: 16px !important;
}

/* Form View Group Labels */

.goph-form-view .o_horizontal_separator {
    font-family: Lato, sans-serif !important;
    color: #2A9120 !important;
    position: relative;
    z-index: 1;
    padding-bottom: 3px;
    margin-bottom: 16px;
    font-size: 18px;
}

.goph-form-view .o_horizontal_separator:before {
    background: #87CB80;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 100%;
    width: 100%;
}

/* Form View TABS */
.goph-form-view .o_notebook .nav-tabs li{
    margin-bottom: -1px;
}
.goph-form-view .o_notebook .nav-tabs li a{
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: #666;
    border: 0;
}

.goph-form-view .o_notebook .nav-tabs li.active{
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
}
.goph-form-view .o_notebook .nav-tabs li.active a{
    border: 0;
    color: #FFF;
    background: #7c7bad;
}


.goph-form-view .o_checkbox input {
    width: 25px !important;
    height: 25px !important;
    margin-top: -3px !important;
}

.goph-form-view .o_td_label,
.goph-tree-view .o_td_label {
    min-width: 200px !important;
}

.goph-form-view tfoot .o_list_number {
    text-align: left;
    font-weight: bold;
    border-left: solid 1px #BDD5CA !important;
    padding: 5px !important;
}

.goph-form-view .summary-field span,
.goph-form-view .summary-field label {
    font-size: 25px !important;
    font-weight: bold !important;
}

.goph-form-view .summary-field label {
    width: 380px;
}


/* Form view RTF Fields */
.goph-form-view .note-editable{
    height: 500px !important;
}
/* Form view 'upload file button' */
.goph-form-view .o_select_file_button{
    padding: 5px 10px;
    font-size: 16px;
}

/* Form view sheets */
.goph-form-view .o_form_sheet{
    max-width: 1100px !important;
}


/* removing the sum of values in group by  */

.goph-tree-view .o_group_header .o_list_number {
    color: #F4F4F4 !important;
}

.goph-tree-view tr.o_group_header {
    background-color: #F4F4F4 !important;
    background-image: none !important;
    border-top: solid 2px #BDD5CA !important;
    border-bottom: solid 2px #BDD5CA !important;
}

.goph-tree-view img {
    width: 150px;
    margin: 0 auto;
}