@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato|Montserrat:100,300,400,500,700');

/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


/* log in override */

.oe_login_form,
.oe_signup_form,
.oe_reset_password_form {
    max-width: 300px;
    position: relative;
    margin: 150px auto !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus,
a:focus-within {
    text-decoration: none;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.default-section {
    background-color: #F4F4F4;
    padding: 50px 0 75px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #CCC;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #249EB8;
    border-radius: 5px;
    width: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #337ab7;
    border-radius: 5px;
}


/* OVERRIDES */

#wrapwrap {
    overflow: hidden;
}

#wrapwrap>* {
    display: block;
}

#wrapwrap>main {
    height: auto;
}


/* DATA TABLE GLOBAL STYLE */

.table-wrapper.container {
    padding: 0;
}

.table-title {
    text-align: center;
    background-color: #196D7F;
    padding: 15px;
    color: #F4F4F4;
    letter-spacing: 4px;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    box-shadow: 0px 4px 2px -2px rgba(199, 199, 199, 0.8);
}

.default-table {
    /* box-shadow: 3px 0 15px -4px rgba(199, 199, 199, 0.8), 3px 0 15px -4px rgba(199, 199, 199, 0.8), -4px 0 15px -4px rgba(199, 199, 199, 0.8); */
    border: solid 1px rgba(199, 199, 199, 0.5);
    font-family: Montserrat, sans-serif;
    color: #404040;
}

.default-table .dataTables_length,
.default-table .dataTables_filter,
.default-table .dataTables_info,
.default-table .dataTables_paginate {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.default-table .dataTables_length label,
.default-table .dataTables_filter label,
.default-table .dataTables_info,
.default-table .paginate_button.previous,
.default-table .paginate_button.next {
    font-weight: normal;
    color: #666;
}

.default-table .dataTables_length select {
    background: white;
    border: solid 2px rgba(199, 199, 199, 0.5);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.default-table .dataTables_filter input {
    border: solid 2px rgba(199, 199, 199, 0.5);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}

.default-table thead th {
    padding: 12px 18px !important;
    color: #808080;
}

.default-table thead tr {
    border-bottom: solid 1px #CCC;
}

.default-table td a {
    font-weight: 500;
    text-decoration: none !important;
    color: #337ab7;
}

.default-table table.dataTable.no-footer,
.default-table thead th {
    border-bottom: solid 2px #808080 !important;
    border-bottom-color: #CCC !important;
}

.default-table td a:active,
.default-table td a:focus,
.default-table td a:focus-within,
.default-table td a:hover {
    color: #3F747F;
}

.default-table table.dataTable tbody td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.default-table .dataTables_paginate {
    margin-right: 10px;
}

.default-table .dataTables_paginate a.paginate_button.current {
    color: #FFF !important;
    background: #249EB8;
    border: solid 1px #249EB8;
}

.default-table .dataTables_wrapper .dataTables_paginate .paginate_button:hover:hover,
.default-table .dataTables_wrapper .dataTables_paginate .paginate_button:active:active,
.default-table .dataTables_wrapper .dataTables_paginate .paginate_button:focus:focus,
.default-table .dataTables_wrapper .dataTables_paginate .paginate_button:focus-within:focus-within {
    background: #2DC5E5 !important;
    border-color: #2DC5E5 !important;
    color: #FFF !important;
}

.default-table .dataTables_paginate .paginate_button:hover,
.default-table .dataTables_paginate .paginate_button:active,
.default-table .dataTables_paginate .paginate_button:focus,
.default-table .dataTables_paginate .paginate_button:focus-within {
    background: #2DC5E5;
    border-color: #2DC5E5;
    color: #FFF !important;
    cursor: pointer !important;
}


/* MAIN NAVIGATION STYLES */

.main-navigation {
    display: block !important;
    margin-bottom: 0;
    background: #F4F4F4;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 0;
    border-bottom: solid 5px #219120;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.main-navigation .nav li.active {
    border: solid 3px #219120;
    border-top: none;
    background: #219120;
}

.main-navigation li a {
    color: #5e5f5f;
}

.main-navigation li a:hover,
.main-navigation li a:active,
.main-navigation li a:focus,
.main-navigation li a:focus-within {
    background: transparent !important;
    color: #219120;
}

.main-navigation li.active a {
    color: #FFF;
}

.main-navigation li.active a:hover,
.main-navigation li.active a:active .main-navigation li.active a:focus,
.main-navigation li.active a:focus-within {
    color: #FFF;
}

.main-navigation .nav li {
    padding-top: 16px;
    padding-bottom: 7px;
}

.main-navigation .navbar-brand img {
    width: 150px;
}


/* TOGGLE MENU (SMALL SCREENS) */

.main-navigation .navbar-toggle {
    border: solid 1px #2A9120;
    margin-top: 23px;
    margin-bottom: 20px;
}

.main-navigation .navbar-toggle span {
    color: #2A9120;
}


/* BUTTON AND LINKS */

a.btn-primary {
    padding: 8px 40px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #337ab7;
    border: none;
    color: #FFF;
    text-decoration: none;
}

a.btn-primary:hover,
a.btn-primary:active,
a.btn-primary:focus,
a.btn-primary:focus-within {
    background-color: #249EB8;
}


/* HOME BANNER STYLES */

section#home-banner {
    height: 100vh !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/golf_online_ph/static/src/img/min/home-banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

section#home-banner header {
    /* border-top: solid 2px #CCC;
    border-bottom: solid 2px #EEE; */
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

section#home-banner h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 6em;
    color: #FFF;
    letter-spacing: 3px;
}

section#home-banner h1 span {
    font-weight: normal;
}

section#home-banner a {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: #249EB8;
    font-family: Montserrat, sans-serif;
}

section#home-banner a:hover,
section#home-banner a:active,
section#home-banner a:focus,
section#home-banner a:focus-within {
    background: #28AFCC;
}

section#home-about {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

section#home-about .row-heading {
    margin-bottom: 100px;
}

section#home-about .inner-content-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background: #F4F4F4;
}

section#home-about h2 {
    color: #219120;
    font-size: 3em;
    font-family: Montserrat, sans-serif;
    margin-bottom: 75px;
    margin-top: 0;
    padding-top: 0;
}

section#home-about .inner-content-wrapper .container {
    margin-top: -100px;
    margin-bottom: 50px;
}

section#home-about .inner-content-wrapper .item-wrapper {
    background: white;
    box-shadow: 3px 0 15px -4px rgba(199, 199, 199, 0.8), 3px 0 15px -4px rgba(199, 199, 199, 0.8), -4px 0 15px -4px rgba(199, 199, 199, 0.8);
    min-height: 280px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

section#home-about .item-wrapper img {
    margin: 0 auto;
}

section#home-about .item-wrapper h3 {
    font-size: 22px;
    color: #3B3C36;
    font-family: Montserrat, sans-serif;
    margin: 0;
    margin-top: 20px;
}

section#home-about .link-area {
    margin-top: 30px;
}

section#home-tournaments {
    background: #F4F4F4;
    padding: 20px 0 75px;
}

section#home-tournaments .outer-wrapper {
    background-color: white;
    box-shadow: 3px 0 15px -4px rgba(199, 199, 199, 0.8), 3px 0 15px -4px rgba(199, 199, 199, 0.8), -4px 0 15px -4px rgba(199, 199, 199, 0.8);
    min-height: 500px;
}

section#home-tournaments .nav-pills {
    height: 70px;
    padding: 0 15px;
    background: #F8F8F8;
    border-bottom: solid 1px #CCCCCC;
}

section#home-tournaments .tab-content {
    padding: 25px;
    padding-bottom: 30px;
}

section#home-tournaments .nav .tab-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
}

section#home-tournaments .tab-item a {
    color: #3B3C36;
}

section#home-tournaments .tab-item a:hover,
section#home-tournaments .tab-item a:active,
section#home-tournaments .tab-item a:focus,
section#home-tournaments .tab-item a:focus-within {
    background: transparent;
    color: #219120;
}

section#home-tournaments .nav .active {
    background: white;
    border-top: solid 5px #219120;
    padding-top: 17px;
    margin-top: -9px;
    box-shadow: 0 9px 0px 0px white, 3px 0 15px -4px rgba(199, 199, 199, 0.8), -4px 0 15px -4px rgba(199, 199, 199, 0.8);
    border-bottom: solid 15px white;
}

section#home-tournaments .active a {
    background: transparent;
    color: #3B3C36;
    font-weight: bold;
}

section#home-tournaments .outer-nav-pill .active a {
    border-bottom: solid 11px #FFF;
}

section#home-tournaments .nav-pills .tab-title {
    font-size: 28px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #219120;
    margin-right: 60px;
    padding-top: 15px;
}


/* TOURNAMENTS LIST - CAROUSEL */

section#home-tournaments .inner-tab-content {
    padding: 15px 1px;
}

section#home-tournaments .carousel-inner .image-wrapper img {
    width: 100%;
}

section#home-tournaments .tab-content .carousel-control.left,
section#home-tournaments .tab-content .carousel-control.right {
    background-image: none;
    color: #CCC;
    font-size: 28px;
    height: 50px;
    margin-top: 150px;
}

section#home-tournaments .carousel-inner .carousel-control.left:hover,
section#home-tournaments .carousel-inner .carousel-control.left:active,
section#home-tournaments .carousel-inner .carousel-control.left:focus,
section#home-tournaments .carousel-inner .carousel-control.left:focus-within,
section#home-tournaments .carousel-inner .carousel-control.right:hover,
section#home-tournaments .carousel-inner .carousel-control.right:active,
section#home-tournaments .carousel-inner .carousel-control.right:focus,
section#home-tournaments .carousel-inner .carousel-control.right:focus-within,
{
    color: #666;
}

section#home-tournaments .carousel-inner .carousel-indicators {
    bottom: -13px;
}

section#home-tournaments .carousel-inner .carousel-indicators li {
    box-shadow: 0 0 0 1px #CCC;
}

section#home-tournaments .carousel-inner .carousel-control.right {
    right: -40px;
}

section#home-tournaments .carousel-inner .carousel-control.left {
    left: -40px;
}

section#home-tournaments .carousel-inner .row {
    margin-left: inherit !important;
    margin-right: inherit !important;
}

section#home-tournaments .content-wrapper {
    min-height: 390px;
}

section#home-tournaments .content-wrapper h3 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #249EB8;
    font-size: 28px;
}

section#home-tournaments .content-wrapper h3 a {
    color: #249EB8;
}

section#home-tournaments .content-wrapper h3 a:hover,
section#home-tournaments .content-wrapper h3 a:active,
section#home-tournaments .content-wrapper h3 a:focus,
section#home-tournaments .content-wrapper h3 a:focus-within,
section#home-tournaments .active a.btn:hover,
section#home-tournaments .active a.btn:active,
section#home-tournaments .active a.btn:focus,
section#home-tournaments .active a.btn:focus-within {
    color: #3F747F;
}

section#home-tournaments .active a.btn {
    color: #249EB8;
    margin: 0;
    padding: 0;
    float: right;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

section#home-tournaments .content-wrapper p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #3B3C36;
    padding-top: 5px;
    margin-bottom: 10px;
}

section#home-tournaments .tournament-nav-pill .nav-pills {
    padding: 0;
    height: 100%;
    margin-top: 0;
    border-bottom-left-radius: 5px;
    background: transparent;
}

section#home-tournaments .tournament-nav-pill .nav-pills .tab-item {
    margin: 0;
    padding-top: 0;
    margin-right: 10px;
}

section#home-tournaments .tournament-nav-pill a {
    color: #3B3C36;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    border: none;
    padding: 8px 2px 3px;
}

section#home-tournaments .tournament-nav-pill .active {
    border: none;
    margin-top: 0;
    padding-top: 0;
    box-shadow: none;
    border-bottom: solid 2px #337ab7;
}

section#home-tournaments .tournament-nav-pill .active a {
    color: #337ab7;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

section#home-tournaments .tournament-nav-pill a:hover,
section#home-tournaments .tournament-nav-pill a:active,
section#home-tournaments .tournament-nav-pill a:focus,
section#home-tournaments .tournament-nav-pill a:focus-within {
    color: #196D7F;
}

section#home-tournaments .active a.btn {
    color: #249EB8;
    margin: 0;
    padding: 0;
    float: right;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

section#home-tournaments .awardees-wrapper h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: #F4F4F4;
    background: #249EB8;
    border-radius: 3px;
    padding: 8px 7px;
}

section#home-tournaments .awardees-wrapper ul {
    padding-left: 10px;
}

section#home-tournaments .awardees-wrapper li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

section#home-tournaments .awardees-wrapper li span {
    text-transform: uppercase;
    color: #219120;
}

section#home-tournaments .centered-text-wrapper {
    text-align: center;
    margin-top: 50px;
}


/* UPCOMING TOURNAMENTS */

section#home-tournaments ul.upcoming-details {
    margin-top: 20px;
    padding-left: 0;
}

section#home-tournaments ul.upcoming-details li {
    list-style: none;
    padding: 5px 10px;
    border-left: solid 2px #249EB8;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 8px;
}

section#home-tournaments ul.upcoming-details li>span {
    font-weight: 600;
}

section#home-tournaments a.upcoming-btn-link {
    display: inline-block;
    padding: 12px;
    margin: 15px 0 75px;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    background: #219120;
    font-family: "Open Sans", sans-serif;
}

section#home-tournaments a.upcoming-btn-link:hover,
section#home-tournaments a.upcoming-btn-link:active,
section#home-tournaments a.upcoming-btn-link:focus,
section#home-tournaments a.upcoming-btn-link:focus-within {
    background-color: #267F38;
}


/* END OF HOMEPAGE STYLES */


/* TOURNAMENTS and COURSE LIST PAGE */

section#tournaments-pg-banner {
    background-image: url("/golf_online_ph/static/src/img/min/golf-course-2.jpg");
}

section#courses-pg-banner {
    background-image: url("/golf_online_ph/static/src/img/min/golf-course-5.jpg");
}

section#tournaments-pg-banner,
section#courses-pg-banner {
    height: 330px;
    z-index: 98;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section#tournaments-pg-intro,
section#courses-pg-intro {
    margin-top: 50px;
}

section#tournaments-pg-intro p,
section#courses-pg-intro p {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: -100px;
    box-shadow: 3px 0 15px -4px rgba(199, 199, 199, 0.8), 3px 0 15px -4px rgba(199, 199, 199, 0.8), -4px 0 15px -4px rgba(199, 199, 199, 0.8);
    z-index: 99;
    position: relative;
    padding: 50px;
    background: white;
}

section#tournament-table,
section#courses-table {
    margin-top: 75px;
}


/* END OF TOURNAMENTS LIST PAGE */


/* SINGLE TOURNAMENT PAGE STYLES */
header#tournament-pg-header .container{
    width: 90%;
}
header#tournament-pg-header {
    margin-top: 75px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/golf_online_ph/static/src/img/min/golf-course-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    padding: 50px 0;
}

header#tournament-pg-header .tour-image-wrapper img {
    width: 300px;
}

header#tournament-pg-header h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

header#tournament-pg-header ul.tournament-overview,
header#player-banner ul.player-overview,
header#team-banner ul.team-overview {
    list-style: none;
    padding-left: 0;
}

header#tournament-pg-header ul.tournament-overview li,
header#player-banner ul.player-overview li,
header#team-banner ul.team-overview li {
    margin-top: 8px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    border-left: solid 2px #249EB8;
    padding: 8px 12px;
    color: #DDD;
    float: left;
}

header#tournament-pg-header ul.tournament-overview li span,
header#player-banner ul.player-overview li span,
header#team-banner ul.team-overview li span {
    font-weight: 500;
    color: #FFF;
}

header#player-banner ul.player-overview li span a {
    color: #32DBFF;
}

header#player-banner ul.player-overview li span a:hover {
    color: #FFF;
}

section#tournament-details {
    padding: 75px 10px;
}

section#tournament-details #mobile-menu {
    display: none;
}

section#tournament-details .main-tabs {
    text-transform: uppercase;
    border-bottom: solid 5px #219120;
    min-height: 52px;
    /* border-right: solid 1px #CCC;
    border-left: solid 1px #CCC; */
}
section#tournament-details .outer-wrapper{
    width: 90%;
}
section#tournament-details .main-tabs li:hover,
section#tournament-details .main-tabs li:active,
section#tournament-details .main-tabs li:focus,
section#tournament-details .main-tabs li:focus-within,
{
    background: #CCC;
}

section#tournament-details .main-tabs li a {
    border-bottom: none;
    font-weight: bold;
    color: #666;
}

section#tournament-details .main-tabs li a:hover,
section#tournament-details .main-tabs li a:active,
section#tournament-details .main-tabs li a:focus,
section#tournament-details .main-tabs li a:focus-within {
    color: #219120;
    background: #F4F4F4;
    border-color: transparent;
}

section#tournament-details .main-tabs li.active {
    background: #FFF;
    border-top: solid 5px #219120;
    border-left: solid 5px #219120;
    border-right: solid 5px #219120;
    border-bottom: none;
    height: 50px;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section#tournament-details .main-tabs li.active a {
    font-weight: 900;
    font-size: 18px;
    background-color: #219120;
    color: #FFF;
    border: 0;
    border-radius: 0;
}

section#tournament-details .tab-details {
    margin-bottom: 25px;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #F4F4F4;
}

section#tournament-details .tab-details .default-table {
    margin-top: 20px;
}

section#tournament-details .tab-details .default-table thead {
    background-color: #196D7F;
}

section#tournament-details .default-table thead th {
    font-weight: 500;
    color: #F4F4F4;
    vertical-align: middle;
}

section#tournament-details .tab-details .table-title {
    font-size: 1em;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    text-transform: uppercase;
    background: #196D7F;
    border: 0;
}

section#tournament-details .default-table tr.group {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    background: #249EB8;
}

section#tournament-details .default-table tbody td {
    vertical-align: middle;
}

section#tournament-details .default-table tr.group td {
    padding: 10px;
    text-align: left;
    color: #FFF;
}

section#tournament-details .flight-table ul {
    list-style: none;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

section#tournament-details h2.wrapper-heading {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

section#tournament-details .details-accordion {
    margin-top: 25px;
}

/* Overview Tab Section */
section#tournament-details #overview .default-table thead{ 
    background-color: #249EB8;
}
section#tournament-details #overview .default-table img{
    width: 100px;
}
section#tournament-details #overview .admission-ticket{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

section#tournament-details .panel-heading,
section#tournament-details .panel-heading {
    background: #196D7F;
}

section#tournament-details .panel-heading a,
section#tournament-details .panel-heading a {
    display: block;
    text-align: center;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;
    color: #FFFAFA;
}

div.details-accordion .panel-body .row {
    margin-top: 25px;
}

div.details-accordion .panel-body .row .mode-items-wrapper {
    padding-right: 0;
}

div.details-accordion .panel-body .row .tab-content-wrapper {
    border-left: solid 1px #CCC;
    margin-left: -1px;
}

div.details-accordion .mode-items {
    border: 0;
    text-align: right;
}

div.details-accordion .mode-items li {
    font-size: 18px;
}

div.details-accordion .mode-items li a {
    color: #808080;
}

div.details-accordion .mode-items li.active {
    border: 0;
    border-right: solid 3px #249EB8;
}

div.details-accordion .mode-items li.active a {
    color: #249EB8;
    font-weight: 600;
    border: 0;
}

div.details-accordion .mode-items li a:hover,
div.details-accordion .mode-items li a:active,
div.details-accordion .mode-items li a:focus,
div.details-accordion .mode-items li a:focus-within {
    color: #337ab7;
    background: transparent;
    border-color: transparent;
}

div.details-accordion .results-overview h4 {
    padding: 8px 12px;
    margin: 5px 0 15px;
    color: #FFF;
    background: #196D7F;
    font-weight: 600;
    font-size: 20px;
}

div.details-accordion .results-overview h5 {
    color: #FFF;
    padding: 8px 30px;
    margin: 0;
    display: inline-block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    text-align: center;
    /* background: #249EB8 */
}

div.details-accordion .results-overview h5.champion-title {
    background: #249EB8;
}

div.details-accordion .results-overview h5.runner-up-title {
    background: #29B3D1;
}

div.details-accordion .results-overview p.awardee {
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    color: #333333;
}

div.details-accordion p.awardee .player-avatar-wrapper,
div.details-accordion p.awardee .default-avatar-wrapper {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

div.details-accordion p.awardee .player-avatar-wrapper {
    margin-bottom: -12px;
}

div.details-accordion p.awardee .default-avatar-wrapper {
    display: inline-block;
}

div.details-accordion p.awardee .default-avatar-wrapper img {
    width: 44px;
}

div.details-accordion .results-overview p.awardee a {
    color: #196D7F;
}

div.details-accordion .results-overview p.awardee a:hover,
div.details-accordion .results-overview p.awardee a:active,
div.details-accordion .results-overview p.awardee a:focus,
div.details-accordion .results-overview p.awardee a:focus-within {
    color: #337ab7;
}

div.details-accordion .results-overview .score-divider,
div.details-accordion .results-overview .awardee-points {
    font-weight: 500;
}
/* TOURNAMENT PROFILE PAGE - OVERVIEW  */
div#overview h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
div#overview .overview-item{
    margin-left: 15px;
}

/* REGISTERED PLAYER'S AND TEAM PAGE */

header#player-banner,
header#team-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/golf_online_ph/static/src/img/min/golf-course-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 35px;
}

header#team-banner {
    height: 300px;
}

header#player-banner .player-image-wrapper {
    text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px #CCC;
}

header#player-banner .player-image-wrapper img {
    width: 100%;
    height: 140px;
    background: #f4f4f6;
    border-radius: 100%;
    border: solid 1px #CCC;
}

header#player-banner h1,
header#team-banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

header#player-banner ul,
header#team-banner ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

section.single-tournament-details {
    margin: 30px auto;
    width: 90%;
}

section.single-tournament-details h2 {
    font-size: 22px;
    padding: 10px 20px;
    border-left: solid 3px #337ab7;
    font-family: Montserrat, sans-serif;
    margin: 30px 0 10px;
}

section.single-tournament-details h2 a:hover,
section.single-tournament-details h2 a:active,
section.single-tournament-details h2 a:focus,
section.single-tournament-details h2 a:focus-within {
    color: #196D7F;
}

section.single-tournament-details ul {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;
}

section.single-tournament-details ul li {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    display: inline-block;
    border-left: solid 2px #CCC;
    padding: 8px 20px;
    text-align: center;
}

section.single-tournament-details ul li span {
    font-weight: bold;
    margin-left: 3px;
}

div.score-card-container {
    width: 90%;
    margin: 0 auto;
}

div.score-card-container .panel-body {
    background: #F5F5F5;
}

.scorecard-table-wrapper {
    overflow-x: auto;
}

table.scorecard-table {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    background: #FFF;
}

table.scorecard-table tr:hover {
    background: #F4F4F4;
}

table.scorecard-table tr th {
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    width: 45px;
    min-width: 45px;
    color: #454545;
}

table.scorecard-table tr th.th-out {
    background: #DDF4F8;
}

table.scorecard-table tr th.th-total {
    background: #196D7F;
    color: #FFF;
}

table.scorecard-table td .stroke-container {
    width: 43px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    border: solid 3px transparent;
}

table.scorecard-table td.hole-in-one .stroke-container {
    border-color: #196D7F;
}

table.scorecard-table td.double-eagle .stroke-container {
    border-color: #337ab7;
}

table.scorecard-table td.eagle .stroke-container {
    border-color: #32B1E4;
}

table.scorecard-table td.birdie .stroke-container {
    border-color: #A5CFF5;
}

table.scorecard-table td.par .stroke-container {
    border-color: #CCC;
}

table.scorecard-table td.bogey .stroke-container {
    border-color: #F7B942;
}

table.scorecard-table td.double-bogey .stroke-container {
    border-color: #EF5B01;
}

table.scorecard-table td.not-counted .stroke-container {
    border-color: transparent;
}


/* Tooltip text */

table.scorecard-table .rep-tooltip .rep-text {
    visibility: hidden;
    color: #F4F4F4;
    width: 120px;
    background: #196D7F;
    text-align: center;
    padding: 7px 5px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: capitalize;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    margin-left: 50px;
}


/* Show the tooltip text when you mouse over the tooltip container */

table.scorecard-table .rep-tooltip:hover .rep-text {
    visibility: visible;
}

table.team-scoretable td {
    padding: 10px;
}

table.team-scoretable td a {
    font-weight: 600;
}

table.team-scoretable td.total-td {
    font-weight: 600;
    font-size: 18px;
    background: #DDF4F8;
}

table.team-scoretable th.total-th {
    background: #DDF4F8;
}

div.score-card-summary {
    font-family: Montserrat, sans-serif;
}

div.score-card-summary .final-overview h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    color: #FFF;
    background: #249EB8;
    display: inline-block;
    padding: 8px 24px;
    text-transform: uppercase;
}

div.score-card-summary .final-overview {
    margin-top: 15px;
}

div.score-card-summary .la-mobile {
    display: none;
}

div.score-card-summary .final-overview ul,
div.score-card-summary .legend-area ul {
    list-style: none;
    padding-left: 8px;
}

div.score-card-summary .final-overview ul li {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

div.score-card-summary .final-overview li span {
    font-weight: 500;
}

div.score-card-summary .legend-area ul {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
    text-align: right;
}

div.score-card-summary .legend-area ul li {
    display: inline-block;
    padding: 0 6px;
}

div.score-card-summary .legend-area li span {
    margin-right: 7px;
}

div.score-card-summary .legend-area li span.hole-in-one {
    color: #196D7F;
}

div.score-card-summary .legend-area li span.double-eagle {
    color: #337ab7;
}

div.score-card-summary .legend-area li span.eagle {
    color: #32B1E4;
}

div.score-card-summary .legend-area li span.birdie {
    color: #A5CFF5;
}

div.score-card-summary .legend-area li span.par {
    color: #CCC;
}

div.score-card-summary .legend-area li span.bogey {
    color: #F7B942;
}

div.score-card-summary .legend-area li span.double-bogey {
    color: #EF5B01;
}

.tournament-profile {
    width: 1200px;
}

.list-title>h3 {
    font-size: 40px;
    text-align: left;
    background-color: #e8e8e8;
    padding: 23px;
    font-family: lato-heavy;
    border-top: 5px solid #2a9120;
}

.tournament-profile>.carousel-inner {
    background-color: #F2F1F1;
    position: relative;
    width: 97%;
    height: 225px;
    margin-top: -70px !important;
    margin: auto;
}

.team-history {
    margin-top: 20px;
    background-color: #F2F1F1;
    margin-bottom: 30px;
    padding: 0;
}

.container .team-history h2 {
    color: #2a9120;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.team-history .table {
    margin-top: 30px;
    width: 80%;
    color: #808080;
    font-family: Montserrat, sans-serif;
}

.tournament-history {
    margin-top: 20px;
    background-color: #F2F1F1;
    margin-bottom: 30px;
    padding: 0;
    overflow-x: scroll;
}

.container .tournament-history h2 {
    color: #2a9120;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.tournament-history .table {
    margin-top: 30px;
    width: 80%;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
}

.division-section {
    margin-top: 20px;
    background-color: #F2F1F1;
    margin-bottom: 30px;
    padding: 0;
}

.banner .golfcourse-title {
    color: #F4F4F4;
    letter-spacing: 4px;
    text-align: center;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 160px;
}

.golfcourse-profile>.golfcourse-inner {
    background-color: #F2F1F1;
    position: relative;
    width: 97%;
    height: 800px;
    margin-top: -70px !important;
    margin-bottom: 100px;
}

.golfcourse-inner ul {
    color: #808080;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 40px 40px 15px 40px;
}

.golfcourse-pic {
    background-image: url("/golf_online_ph/static/src/img/golf-course-wallpaper.jpg");
    height: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.golfcourse-section {
    margin-top: 150px;
    background-color: #F2F1F1;
    margin-bottom: 100px;
    padding: 0;
    width: 97%;
}

.container .golfcourse-section h2 {
    color: #2a9120;
    letter-spacing: 4px;
    font-size: 2.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 30px;
}

.tournament-table-wrapper {
    margin-top: 80px;
    background-color: #F2F1F1;
    margin-bottom: 100px;
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

.tournament-table-wrapper h2 {
    color: #2a9120;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 30px;
}

.container .division-section h2 {
    color: #2a9120;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 30px;
}

.container .division-section p {
    color: #808080;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.scorecard-card {
    margin-top: 30px;
    background-color: #F2F1F1;
    margin-bottom: 30px;
    padding: 0;
    overflow-x: scroll;
}

.container .scorecard-card h2 {
    color: #2a9120;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.table-scorecard {
    width: 100%;
    color: #808080;
    background-color: #FAFAFB;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.table-scorecard.table-bordered>thead>tr>th {
    /* padding: 5px; */
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    padding: 2px;
}

.table-scorecard.table-bordered>thead>tr>td {
    /* padding: 5px; */
    padding: 2px;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
}

.table-flightcard-h2 {
    color: #2a9120;
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
}

.table-flightcard {
    width: 80%;
    color: #808080;
    background-color: #F2F1F1;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.table-golfcourse {
    width: 100%;
    color: #808080;
    background-color: #F2F1F1;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.table-golfcourse.table-bordered>thead>tr>th {
    padding: 5px;
    border: 2px solid #fff;
}

.table-golfcourse.table-bordered>thead>tr>td {
    padding: 5px;
    border: 2px solid #fff;
}

.score-card {
    margin: 100px;
}

body.o_connected_user {
    padding-top: 0 !important;
}

.header-font {
    font-family: 'Montserrat', sans-serif !important;
    color: #fd1506;
}

.fa-facebook {
    color: #3b5998;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-twitter {
    color: #4099FF;
}

.fa-google {
    color: #d34836;
}

.bg-primary {
    background-color: #f4f4f4 !important;
}

.bg-circle {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}

.bg-circle-outline {
    width: 50px;
    height: 50px;
    color: smoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: smoke;
    border-radius: 50%;
}

.container-footer {
    height: 300px;
}

.container-fluid>.footer-contactus {
    font-size: 15px !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 90px;
    height: 100%;
}

.bg-circle a,
a:hover,
.media a:focus {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}

.bg-circle-outline a,
a:hover,
.media a:focus {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}

.footer {
    background: #F2F1F1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #78828D
}

.about-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/golf_online_ph/static/src/img/aboutgolf.jpg");
    height: 900px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin: 0px;
}

.about-text {
    margin: 0px;
    padding: 350px 400px 300px 100px;
}

.about-text>h1 {
    color: white;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0px;
    letter-spacing: 3px;
}

.about-text>p {
    color: white;
    font-size: initial;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin: 0px;
    letter-spacing: 3px;
}


/* SEARCH BAR */

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}


/* END SEARCH BAR */


/* SPONSORS */

.sponsors-section {
    background-color: #F4F4F4;
    margin: auto;
    padding: 50px;
    margin-bottom: 50px;
}

.sponsors-section p {
    color: #2a9120;
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.sponsors-image {
    background-image: url("/golf_online_ph/static/src/img/SponsorsFinal.png");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.golfonlinelogo {
    background-image: url("/golf_online_ph/static/src/img/GolfOnlineLogo.png");
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.flytlogo {
    background-image: url("/golf_online_ph/static/src/img/FlytLogo.png");
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-top: 30px;
}

.summarylist {
    background-color: #FAFAFB;
    padding: 10px;
    padding-bottom: 25px;
}

.summarylist>li>h3 {
    color: #808080;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 5px;
}

.summarylist>li>span {
    color: black;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 100;
    padding-left: 40px;
}

.team-champ {
    padding: 15px;
    margin-left: 10px;
}

.team-champ>h2 {
    color: #2eca1d;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.team-champ>span {
    color: black;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-left: 40px;
}

.gross-champ {
    padding: 15px;
    margin-left: 10px;
}

.gross-champ>h2 {
    color: #277e49;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.gross-champ>span {
    color: black;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-left: 40px;
}

.net-champ {
    padding: 15px;
    margin-left: 10px;
}

.net-champ>h2 {
    color: #2a9120;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.net-champ>span {
    color: black;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-left: 40px;
}

.penaltylist {
    color: #808080;
    padding: 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    width: 50%;
    float: left;
}

.penaltylist>li {
    padding: 5px;
}


/* RESPONSIVE DESIGNS */

@media screen and (max-width: 1024px) {
    .table-title {
        font-size: 1.6em;
    }
    section#home-banner h1 {
        font-size: 5.3em;
    }
    section#home-tournaments {
        padding: 20px;
    }
    section#home-tournaments .carousel-inner .image-wrapper {
        float: none;
        width: 100%;
    }
    section#home-tournaments .tab-content .image-wrapper img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    section#home-tournaments .carousel-inner .content-wrapper {
        width: 100%;
    }
    section#home-tournaments .tab-content .carousel-control.right {
        right: -25px;
    }
    section#home-tournaments .tab-content .carousel-control.left {
        left: -25px;
    }
    section#home-tournaments .tab-content .content-wrapper {
        margin-top: 20px;
        text-align: center;
    }
    section#home-tournaments .content-wrapper h3 {
        margin-bottom: 5px;
    }
    section#home-tournaments .active a.btn {
        float: none;
        display: block;
        margin-top: 15px;
    }
    section#home-tournaments .awardees-wrapper {
        text-align: left;
    }
    section#home-tournaments ul.upcoming-details li {
        border: none;
    }
    section#tournaments-pg-intro p,
    section#courses-pg-intro p {
        font-size: 18px;
        padding: 20px;
    }
    header#tournament-pg-header ul.tournament-overview li {
        float: none;
    }
    header#player-banner h1 {
        font-size: 28px;
    }
    header#player-banner ul.player-overview,
    header#team-banner ul.team-overview {
        display: block;
    }
    header#player-banner ul.player-overview li,
    header#team-banner ul.team-overview li {
        text-align: center;
        border-left: 0;
        font-size: 16px;
        margin-top: 0;
        float: none;
    }
    section.single-tournament-details ul li {
        display: block;
        margin: 0 10px;
        border: 0;
        padding: 8px 8px 0px 15px;
        text-align: left;
    }
    div.score-card-summary .la-desktop {
        display: none;
    }
    div.score-card-summary .la-mobile {
        display: block;
        width: 100%;
    }
    div.score-card-summary .legend-area a {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        color: #249EB8;
    }
    div.score-card-summary .legend-area a:hover,
    div.score-card-summary .legend-area a:active,
    div.score-card-summary .legend-area a:focus,
    div.score-card-summary .legend-area a:focus-within {
        color: #337ab7;
    }
    div.score-card-summary .legend-area ul {
        text-align: left;
    }
    div.score-card-summary .legend-area ul li {
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .main-navigation .nav li.active {
        background: transparent;
        border: none;
    }
    .main-navigation .nav li.active a {
        color: #219120;
    }
    .main-navigation li.active a:hover,
    .main-navigation li.active a:active,
    .main-navigation li.active a:focus,
    .main-navigation li.active a:focus-within,
    {
        color: #219120 !important;
    }
    section#home-banner h1 {
        font-size: 3.5em;
    }
    section#home-about p {
        margin-bottom: 0;
        padding-top: 30px;
        height: 150px;
        width: 170px;
    }
    section#home-about h2 {
        font-size: 2em;
        margin-bottom: 50px;
    }
    section#home-about h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    section#home-tournaments {
        padding: 1px;
    }
    section#home-tournaments .outer-nav-pills {
        padding: 0;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
    }
    section#home-tournaments .outer-nav-pills .tab-title {
        float: none;
        margin: 0;
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
    }
    section#home-tournaments .outer-nav-pills li.tab-item {
        margin-left: 0;
        font-size: 16px;
        padding: 2px 0 5px;
        flex: 1 1 auto;
        text-align: center;
    }
    section#home-tournaments .outer-nav-pills li.tab-item a {
        padding: 2px 0px;
    }
    section#home-tournaments .outer-nav-pills .active {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
        height: auto;
        background: transparent;
        box-shadow: none;
        border-bottom: solid 3px #219120;
    }
    section#home-tournaments .outer-nav-pills .active a {
        border-bottom: 0;
    }
    section#home-tournaments .tab-content::before {
        clear: both;
        content: " ";
        display: table;
    }
    section#home-tournaments .tab-content .carousel-indicators {
        bottom: -10px;
    }
    section#home-tournaments .tab-content .carousel-control.right {
        right: 0;
    }
    section#home-tournaments .tab-content .carousel-control.left {
        left: 0;
    }
    section#home-tournaments .tab-content {
        margin-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    section#home-tournaments .tab-content .image-wrapper img {
        width: 60%;
    }
    section#home-tournaments .tournament-nav-pill {
        overflow-x: auto;
    }
    section#home-tournaments .carousel-inner .tab-content {
        margin-top: 5px;
        padding-top: 8px;
        padding-left: 0;
        padding-right: 0;
    }
    section#home-tournaments .awardees-wrapper ul {
        text-align: center;
    }
    section#home-tournaments .awardees-wrapper ul li {
        margin-bottom: 15px;
    }
    section#home-tournaments .awardees-wrapper ul li span {
        display: block;
        font-weight: bold;
        margin-top: 8px;
    }
    section#tournaments-pg-banner,
    section#courses-pg-banner {
        height: 310px !important;
    }
    section#tournaments-pg-intro,
    section#courses-pg-intro {
        margin-right: 15px;
        margin-left: 15px;
    }
    section#tournaments-pg-intro p,
    section#courses-pg-intro p {
        font-size: 16px;
    }
    section#tournament-table,
    section#courses-table {
        margin-top: 30px;
    }
    header#tournament-pg-header .tour-image-wrapper img {
        width: 250px;
    }
    header#tournament-pg-header .tour-image-wrapper h1 {
        font-size: 34px;
        margin-top: 20px;
    }
    section#tournament-details {
        padding: 75px 0;
    }
    section#tournament-details .tab-details {
        padding: 20px 5px;
    }
    section#tournament-details .outer-wrapper {
        padding: 15px 2px;
        background: transparent;
        box-shadow: 3px 0 15px -4px rgba(199, 199, 199, 0.8), 3px 0 15px -4px rgba(199, 199, 199, 0.8), -4px 0 15px -4px rgba(199, 199, 199, 0.8);
    }
    section#tournament-details #mobile-menu {
        display: block;
        padding: 0 15px;
        margin-bottom: 15px;
    }
    section#tournament-details #desktop-menu {
        display: none;
    }
    #mobile-menu .button-wrapper {
        text-align: right;
        display: block;
    }
    #mobile-menu button {
        display: block;
        text-align: center;
        background: transparent;
        padding: 8px 12px;
        color: #219120;
        border: solid 1px #219120;
        border-radius: 5px;
    }
    #mobile-menu button:hover,
    #mobile-menu button:active,
    #mobile-menu button:focus,
    #mobile-menu button:focus-within {
        color: #FFF;
        background: #219120;
    }
    #mobile-menu ul#mob-main-tabs {
        border-bottom: 0;
        padding-top: 20px;
    }
    #mobile-menu ul#mob-main-tabs li a {
        text-align: left;
    }
    #mobile-menu ul#mob-main-tabs li.active {
        background: transparent;
        border-top: 0;
        border-left: solid 2px #219120;
        border-right: 0;
        border-bottom: 0;
        height: auto;
        padding: 0;
        border-radius: 0;
    }
    #mobile-menu ul#mob-main-tabs li.active a {
        font-weight: 900;
        font-size: 18px;
        color: #219120;
        background: transparent;
        border: 0;
        border-radius: 0;
    }
    div.score-card-container,
    section.single-tournament-details {
        width: 98%;
    }
    div.details-accordion .panel-body .row {
        margin-top: 5px;
    }
    div.details-accordion .mode-items {
        text-align: left;
    }
    div.details-accordion .mode-items li.active {
        border-left: solid 3px #249EB8;
        border-right: 0;
    }
    div.details-accordion .results-overview h4 {
        margin-top: 15px;
    }
    div.details-accordion .results-overview p.awardee {
        font-size: 18px;
    }
    div.details-accordion p.awardee .awardee-name,
    div.details-accordion p.awardee .awardee-points,
    div.details-accordion p.awardee .player-avatar-wrapper {
        display: block;
    }
    div.details-accordion p.awardee span.score-divider {
        display: none !important;
    }
    div.details-accordion p.awardee .player-avatar-wrapper,
    div.details-accordion p.awardee .default-avatar-wrapper {
        display: block !important;
        width: 48px;
        height: 48px;
        margin-bottom: 5px;
    }
    div.score-card-summary .final-overview ul li {
        margin-top: 5px;
    }
}
